<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmailValidator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEmailValidator" contract="Proxies.IEmailValidator"
                name="BasicHttpBinding_IEmailValidator" />
        </client>
    </system.serviceModel>
</configuration>